.pt-80 {
  padding-top: 80px !important;
}

.tableDetailColumn {
  width: 1px !important;
}

.tbodyOuterBeige {
  background-color: rgb(232, 240, 254);
}

.tHead {
  background-color: #181818;
  color: white;
}

.tableIcon {
  font-size: 18px;
  cursor: pointer;
  color: gray;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.tableMinColWidth {
  width: 1px !important;
}

.sideBarContainer {
  z-index: 998;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #181818;
  min-height: 100vh;
  box-shadow: 0px 0px 1px black;
  -moz-box-shadow: 0px 0px 1px black;
  -webkit-box-shadow: 0px 0px 1px black;
}

body {
  font-family: 'Open Sans !important';
  overflow-y: scroll;
}

.echarts {
  width: 100% !important;
  text-align: left;
  float: left;
  /* min-height: 400px; */
}

.multiselect__tags {
  min-height: 30px;
}


.multiselect__input,
.multiselect__tags,
.multiselect__option {
  font-size: 12px !important;
}


.header-icon {
  font-size: 2em !important;
  padding-right: 10px;
}

.dg-btn--ok {
  color: #fefefe !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.dg-btn--cancel {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
  background-color: #fefefe !important;
}

.dg-content {
  font-size: 14px !important;
}

.dg-main-content {
  font-family: "Open-Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.dg-btn {
  font-size: 14px !important;
}

.modal-header {
  padding: 0.5rem 1rem !important;
  background-color: #d19b3d !important;
}



.linear-wipe {
  background: linear-gradient(to right, #000000 20%, blue  40%, #d19b3d  60%, #000000 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
