.pt-80{
    padding-top: 80px !important;
  }
  
  .tableDetailColumn {
    width: 1px !important;
  }
  
  .tbodyOuterBeige {
    background-color: beige;
  }
  .tHead {
    background-color: #181818;
    color: white;
  }
  .tableMinColWidth {
    width: 1px !important;
  }